<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Students</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<table>
    <tr class="nameTd">
        <td class="number">№</td>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Возраст</td>
        <td>Курс</td>
        <td>Группа</td>
        <td>Специализация</td>
        <td>Экзамены</td>
    </tr>
    <tr th:each="student, studentStat : ${students}">
        <td class="number" th:text="${studentStat.count}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.surname}"></td>
        <td th:text="${student.age}"></td>
        <td th:text="${student.course}"></td>
        <td th:text="${student.group}"></td>
        <td th:text="${student.speciality}"></td>
        <td>
            <a th:href="@{/pages/it42.html}" th:if="${student.group == 'ИТ-4-2'}">Посмотреть</a>
            <a th:href="@{/pages/ib31.html}" th:if="${student.group == 'ИБ-3-1'}">Посмотреть</a>
            <a th:href="@{/pages/im23.html}" th:if="${student.group == 'ИМ-2-3'}">Посмотреть</a>
            <a th:href="@{/pages/ct11.html}" th:if="${student.group == 'СТ-1-1'}">Посмотреть</a>
        </td>
    </tr>
</table>
</body>
</html>