<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Categories Page</title>
</head>
<body>
<section>
    <div class="container-fluid bg-light p-3">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form action="search" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" name="ch">
                        <button class="btn btn-success text-light ms-3">Поиск</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-1">
        <div class="row">
            <div class="col-md-2">
                <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body">
                        <p class="fs-5">Каталог</p>
                        <div class="list-group">
                            <a href="/" class="list-group-item list-group-item-action" aria-current="true" th:classappend="${category == ''} ? 'active' : ''">Все товары</a>
                            <a th:href="@{'/categories/'+${c.name}}" class="list-group-item list-group-item-action" th:each="c:${categories}" th:text="${c.name}" th:classappend="${c.name == category} ? 'active' : ''"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body">
                        <p class="fs-3 text-center" th:text="${category}"></p>
                        <div class="row">
                            <th:block th:if="${goodsInCategory.size > 0}">
                            <div class="col-md-3 mb-3" th:each="c:${goodsInCategory}">
                                <a th:href="@{'/item/'+${c.id}}" class="text-decoration-none">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <img th:src="@{'/images/goods/'+${c.image}}" alt="" width="100%">
                                            <p class="fs-5 text-center" th:text="${c.name}"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            </th:block>
                            <th:block th:unless="${goodsInCategory.size > 0}">
                                <p class="fs-4 text-center nt-4 text-success">В категории нет товаров</p>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">Количество страниц</div>
                    <div class="col-md-6">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>